<div class="col-sm-12 col-md-3">
                        <div class="sidebar">
                            
                            <div class="widget w-subscribe">
                                <h4 class="widget-title">Reseaux sociaux</h4>
                                <div class="widget-box">
                                    <div class="social-widget">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="widget w-insta">
                                <h4 class="widget-title">Follow On Instagram</h4>
                                <div class="widget-box">
                                    <ul class="instapic">
                                        <li>
                                            <a href="#"><img src="images/widget/insta1.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta2.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta3.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta4.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta5.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta6.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta7.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta8.jpg" alt="image" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/widget/insta9.jpg" alt="image" /></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                            <div class="widget w-insta">
                                <h4 class="widget-title">Latest Posts</h4>
                                <div class="widget-box">
                                    
                                    {% for post in site.posts limit: 5 %}
                                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                                    
                                    <div class="side-letest">
                                        <div class="sidelist-img">
                                            <a href="{{ post.url }}"><img src="{{ post.main_img }}" alt="image"></a>
                                        </div>
                                        <div class="sidelist-info">
                                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                            <h5>{{ post.rubriques }}</h5>
                                            <!-- <span class="post-date">{{ post.date }}</span> -->
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="widget w-tags">
                                <h4 class="widget-title">Categories</h4>
                                <div class="widget-box">
                                    <ul class="srch_catagory">
                                    {% for category in site.categories %}
                                        <li>{{ category.title }}<span class="post_count">(1)</span></li>
                                        
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="widget w-tags">
                                <h4 class="widget-title">Rubriques</h4>
                                <div class="widget-box">
                                    <ul class="srchtags">
                                    {% for rubrique in site.rubriques %}
                                        <li><a href="{{ rubrique.url }}">{{ rubrique.title }} </a></li>
                                        
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>                
                        </div>
                    </div>