<!-- Home -->
    
    <main class="main">

      <div class="arrow-left hidden-xs"></div>
      <div class="arrow-right hidden-xs"></div>

      <!-- Start revolution slider -->

      <div class="rev_slider_wrapper">
        <div id="rev_slider" class="rev_slider fullscreenbanner">
          <ul>

            <!-- Slide 1 -->

            <li  data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000" data-fsmasterspeed="1000">

              <!-- Main image-->

              <img src="img/slider/agency1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

              <!-- Layer 1 -->

              <div class="slider-title tp-caption tp-resizeme" 
                data-x="['center','center','center','center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" data-voffset="['-60']"
                data-textAlign="['center','center','center','center']"
                data-fontsize="['70', '60','50','40']"
                data-lineheight="['80','70', '50','40']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05">Creative and profit.
              </div>

              <!-- Layer 2 -->

              <div class="slider-text tp-caption tp-resizeme"
                data-x="['center','center','center','center']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['30']"
                data-textAlign="['center','center','center','center']"
                data-fontsize="['22']" 
                data-lineheight="['32']" 
                data-whitespace="normal"
                data-width="['900','700','600','500']"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000;" 
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none">We receive result combining marketing, a creative and industry experience.
              </div>

              
            <!-- Layer 3 -->

            <div class="tp-caption"
              data-x="['center','center','center','center']" data-hoffset="['-112']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['125']" 
              data-width="none"
              data-height="none"
              data-fontsize="['15']" 
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
              data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
              data-transform_in="x:-200px;opacity:0;s:1500;e:Power4.easeInOut;" 
              data-transform_out="x:-200px;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
              data-mask_out="x:inherit;y:inherit;" 
              data-start="1500" 
              data-splitin="on" 
              data-splitout="none" 
              data-responsive_offset="on"><a href="about.html" class="btn btn-trans">About us</a>
            </div>

            <!-- Layer 4 -->

            <div class="tp-caption"
              data-x="['center','center','center','center']" data-hoffset="['112']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['125']" 
              data-width="none"
              data-fontsize="['15']"
              data-height="none"
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
              data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
              data-transform_in="x:200px;opacity:0;s:1500;e:Power4.easeInOut;" 
              data-transform_out="x:200px;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
              data-mask_out="x:inherit;y:inherit;" 
              data-start="1500" 
              data-splitin="on" 
              data-splitout="none" 
              data-responsive_offset="on"><a href="#request" class="btn" data-toggle="modal">Get start</a>
            </div>

          </li>

          <!-- Slide 2 -->

          <li  data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000" data-fsmasterspeed="1000">

            <!-- Main image-->

              <img src="img/slider/agency2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

              <!-- Layer 1 -->

              <div class="slider-title tp-caption tp-resizeme" 
                data-x="['center','center','center','center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" data-voffset="['-60']"
                data-textAlign="['center','center','center','center']"
                data-fontsize="['70', '60','50','40']"
                data-lineheight="['80','70', '50','40']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05">Modern.
              </div>

              <!-- Layer 2 -->

              <div class="slider-text tp-caption tp-resizeme"
                data-x="['center','center','center','center']" data-hoffset="['0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['30']"
                data-textAlign="['center','center','center','center']"
                data-fontsize="['22']" 
                data-lineheight="['32']" 
                data-whitespace="normal"
                data-width="['900','700','600','500']"
                data-transform_idle="o:1;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000;" 
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                data-start="1500" 
                data-splitin="none" 
                data-splitout="none">We receive result combining marketing, a creative and industry experience.
              </div>

              
            <!-- Layer 3 -->

            <div class="tp-caption"
              data-x="['center','center','center','center']" data-hoffset="['-112']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['125']" 
              data-width="none"
              data-height="none"
              data-fontsize="['15']" 
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
              data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
              data-transform_in="x:-200px;opacity:0;s:1500;e:Power4.easeInOut;" 
              data-transform_out="x:-200px;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
              data-mask_out="x:inherit;y:inherit;" 
              data-start="1500" 
              data-splitin="on" 
              data-splitout="none" 
              data-responsive_offset="on"><a href="about.html" class="btn btn-trans">About us</a>
            </div>

            <!-- Layer 4 -->

            <div class="tp-caption"
              data-x="['center','center','center','center']" data-hoffset="['112']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['125']" 
              data-width="none"
              data-fontsize="['15']"
              data-height="none"
              data-whitespace="nowrap"
              data-transform_idle="o:1;"
              data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
              data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
              data-transform_in="x:200px;opacity:0;s:1500;e:Power4.easeInOut;" 
              data-transform_out="x:200px;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
              data-mask_out="x:inherit;y:inherit;" 
              data-start="1500" 
              data-splitin="on" 
              data-splitout="none" 
              data-responsive_offset="on"><a href="#request" class="btn" data-toggle="modal">Get start</a>
            </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="mouse-helper">
        <span>Scroll Down</span>
        <i class="icon ion-mouse"></i>
      </div>
    </main>