---
layout: default
---

<!--Main Slider-->
        {% include slider.html %}
        <!--Main Slider  end-->
<section class="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="blog-list-single  padd-right-30">
                          {% for post in site.posts %}
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            <!-- blog-item Post -->
                            <div class="blog-item">
                                <div class="blog-post">
                                    <div class="blogpost-img">
                                        <a href="{{ post.url }}" target="blank"><img src="{{ post.main_img }}" alt="{{ post.title }}"></a>
                                    </div>
                                    <div class="post-share">
                                        <div class="social-share">
                                            <span class="title-share">Share:</span>
                                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <div class="coment-share">
                                            <a href="#"><i class="fa fa-comment"></i> 3</a>
                                        </div>
                                    </div>
                                    <div class="blogpost-info">
                                        <p class="post-category"><a href="#" title="Posts by category Travel">{{ post.categories }}</a></p>
                                        <h3 class="post-title"><a href="{{ post.url }}" target="blank">{{ post.title | escape }}</a></h3>
                                        <div class="post-meta">
                                            <span><a href="#"><i class="fa fa-user"></i> Par {{ post.author }}</a></span>
                                            <span><a href="#"><i class="fa fa-clock-o"></i> {{ post.date | date: date_format }}</a></span>
                                        </div>
                                        <p>{{ post.mini_desc }}</p>
                                        <div class="read-more">
                                            <a href="{{ post.url }}" title="Read More"  target="blank">Lire la suite</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- blog-item Post end -->
                            {% endfor %}
                        </div>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    {% include home_sidebar.html %}
                </div>
            </div>

        </section>
        <!--insta-full-gallery  -->
        <section class="insta-full-gallery clearfix">
            <h2 class="instahd"><span>Rubriques</span></h2>
            <div class="slide-insta">
            {% for rubrique in site.rubriques %}
                <div class="insta-item">
                    <a href="#"><img src="{{ rubrique.image }}" alt="image" /><span>{{ rubrique.title }}</span></a>
                </div>
            {% endfor %}
            </div>
        </section>
        <!--insta-full-gallery end  -->

