<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="page-wrapper">

       

    {% include header.html %} 

        <!--Breadcrumbs -->
        <section class="page-info">
            <div class="container clearfix">
                <div class="pull-left">
                    <h3>{{ page.title }} </h3>
                </div>
                <div class="pull-right">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Category </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Breadcrumbs   end-->

        <!--page contents-->
        <section class="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="blog-list-view  padd-right-30">
                            {% assign posts = site.posts | where:"rubriques", page.title  %}
                            {% for post in posts %}
                            <!-- blog-item Post -->
                            <div class="blog-item">
                                <div class="blog-post row">
                                    <div class="col-sm-5">
                                        <div class="blogpost-img">
                                            <a href="{{ post.url }}"><img src="{{ post.main_img }}" alt="Post"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="blogpost-info">
                                            <p class="post-category"><a href="#" title="Posts by category Travel">{{ post.rubriques }}</a></p>
                                            <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                            <div class="post-meta">
                                                <span><a href="#"><i class="fa fa-user"></i> By {{ post.auteurs }}</a></span>
                                                <span><a href="#"><i class="fa fa-clock-o"></i> {{ post.date }}</a></span>
                                            </div>
                                            <p>{{ post.mini_desc }} </p>
                                            <div class="read-more">
                                                <a href="{{ post.url }}" title="Read More">Lire la suite</a>
                                                <div class="post-share">
                                                    <div class="social-share">
                                                        <span class="title-share">Share:</span>
                                                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                                    </div>
                                                    <div class="coment-share">
                                                        <a href="#"><i class="fa fa-comment"></i> 3</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- blog-item Post end -->
                            {% endfor %}
                            

                        </div>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    
                    {% include home_sidebar.html %} 

                </div>
            </div>

        </section>
        <!--page contents end  -->

        <!--insta-full-gallery  -->
        <section class="insta-full-gallery clearfix">
            <h2 class="instahd"><span>Rubriques</span></h2>
            <div class="slide-insta">
            {% for rubrique in site.rubriques %}
                <div class="insta-item">
                    <a href="#"><img src="{{ rubrique.image }}" alt="image" /><span>{{ rubrique.title }}</span></a>
                </div>
            {% endfor %}
            </div>
        </section>
        <!--insta-full-gallery end  -->

        <!--footer  -->
        {% include footer.html %} 
</body>

</html>